.footer {
  margin-top: 40px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: start;

  .footer__symbol {
    margin-right: 5px;
    line-height: 100%;
    transform: translateY(35%);
  }

  span {
    font-family: Istok Web, serif;
    font-size: 19px;
    font-weight: 700;;
    color: #fafafa;
    display: flex;
  }
}