.main {
  margin: 40px 150px 0 60px;

  .profile {
    display: flex;
    justify-content: space-between;
    aspect-ratio: 3 / 0.9;
    position: relative;

    .ava {
      width: 30%;

      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 12px;
      }
    }

    .information {
      width: 35%;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;

      input {
        background: rgba(255, 255, 255, 0.25);
        border-radius: 12px;
        border: none;
        color: #fafafa;
        padding-left: 20px;
        width: 100%;
        height: calc((100% - 80px) / 5);
        font-family: Istok Web, serif;
        font-size: 17px;
        font-weight: 700;


        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    .prizes {
      width: 25%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .prize {
        width: 40%;
        height: 40%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .balance {
      font-family: Istok Web, serif;
      font-size: 32px;
      font-weight: 700;
      color: #fafafa;
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: 100%;
    }
  }
}